
:root {
  --background: white;
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(34, 35, 39);
  --text-gridmini: rgb(255, 255, 255);
  --boxshadow: white;
  --accent: purple;
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: grey;
  --text-gridmini: rgb(255, 255, 255);
  --accent: darkred;
  --boxshadow: hsl(209, 23%, 12%);
  --sidebarbackgroundcolor: #373b53;;
}

[data-theme="light"] {
  --background: hsl(0, 0%, 90%);
  --text-primary: hsl(200, 15%, 8%);
  --text-secondary: rgb(189, 189, 190);
  --accent: purple;
  --sidebarbackgroundcolor: hsl(0, 0%, 98%);
  --boxshadow: hsl(0, 0%, 100%);
  --text-gridmini: rgb(0, 0, 0);
}
.btnheader{
    display: flex;
    justify-content: space-between;
}
.modaloverlay {
  position: fixed;
  top: 0;
  left: 70px;
  height: 100vh;
  display: flex;
  padding: 30px;
  height: max-content;
  flex-direction: column;
  background-color: red;
  z-index: 12;
}
.offcanvas{
    width: 100%;
    height: 100vh;
    padding: 25px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.clientAddress,
.senderAddress{
    padding: 5px;
    display: flex;
}
.billfrom{
    margin: 20px 0;
    color: blueviolet;
    padding: 10px
}
.billto{
  margin: 20px 0;
    color: blueviolet;
    padding: 10px
}
.clientname{
    margin: 11px 0;
    padding: 20px
}
.forminput{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    border: .01px solid lightgray;
}
.formLabel{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
}
.list{
  display: flex;
  justify-content: space-between;
}
.datepayment{
  margin: 10px;
  display: flex;
}
.btns{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.street{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.frow{
  display: flex;
  flex-direction: column;
  justify-content: center;
}